/* ---- reset ---- */

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  
}


/* ---- typography ---- */


/* ---- layout ---- */

#hero{
  background-color: rgb(139, 233, 135);

}
#selling{
  background-color: red;
  
}
#pricing{
  background-color: aqua;
  
}


@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}

/* ---- header ---- */



nav img {
  height: 3rem;
}

nav {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;

}
#hero{
  display:flex;
  justify-content: flex-end;

}
.hero-text{
  padding:20px;
}
/* ---- footer ---- */

/* ---- components ---- */

/* ---- css shame ---- */

