/* ---- reset ---- */

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;

}

/* ---- typography ---- */
h1 {
  font-size: 80px;
  color: #FFFFFF;
  font-weight: 400;
  margin-bottom: 0;
}

#hero p {
  font-weight: 500;
  font-size: 23px;
  color: #FFFFFF;
  line-height: 41px;
}

/* ---- layout ---- */

.container {
  width: 900px;
  margin: 0 auto;
}

@media (max-width: 992px) {
  .container {
    width: 700px
  }
}

@media (max-width: 768px) {
  .container {
    width: 500px
  }
}

@media (max-width: 480px) {
  .container {
    width: 350px
  }
}

/* ---- header ---- */

nav img {
  height: 45px;
  width: 168px;
  margin-left: 0.5rem;
}

nav {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;

}

#hero {
  display: flex;
  justify-content: flex-end;
  background-image: url('./assets/backgroundhero.gif');
  background-repeat: no-repeat;
  background-position: center;
  height: calc(100vh - 85px);
  background-size: cover;
}

.hero-text {
  padding: 20px;
  align-self: center;
  margin-left: 50vw;
  margin-right: 5vw;
  width: 35vw;
  margin-bottom: 5vh;
}

#hero .subscribe {
  margin: auto;
  display: block;
}

/* ---- main ---- */
#pricing {
  background-image: url("assets/backgroundSectionSelling.jpg");
  background-size: cover;
}


.pricing-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 70px 0;

}


.pricing-left {
  padding: 0 10px 10px 10px;
  margin-right: 50px;
}


#pricing h3 {
  font-weight: 600;
  font-size: 45px;
  color: #FFFFFF;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.50);
}

#pricing h4 {
  font-size: 40px;
  color: #F574D0;
  text-align: center;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.50);
}

#pricing p,
li {
  font-size: 24px;
  color: #FFFFFF;
  letter-spacing: 1.3px;
  line-height: 35px;
}


.memberships-link {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.form {
  margin-left: 20px;
}


.trust {
  padding: 50px 0;
}


.trust img {
  margin-left: 5px;
  height: 2.5rem;
}


form {
  display: flex;
  flex-direction: column;
}

form input {
  margin: 20px 0;
  padding: 15px;
  width: 400px;
  background-color: transparent;
  border: 2px solid white;
  font-size: 18px;
  color: #FFFFFF;
}

form label {
  font-size: 24px;
  color: #FFFFFF;
}

form button {
  padding: 10px;
  width: 150px;
  height: 50px;
  font-size: 14px;
  text-transform: uppercase;
}

.button-submit {
  display: flex;
  justify-content: center;
}







/* ---- Selling points ---- */

#selling {
  padding: 50px 0;
  font-size: 52px;
  color: #23249A;
  background-color: white;
  font-weight: 600;
}

#selling h2 {
  text-align: center;
  text-align: center;
  margin-top: 0;
  padding: 2rem 0;
  font-weight: 600;
  font-size: 52px;
  color: #23249A;
}

.selling-all {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

.selling-item {
  width: 40%;
  padding: 10px;
}

.selling-item img {
  display: block;
  margin: 0 auto;
  height: 10rem;
}

.selling-item h4 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 28px;
  color: #E214A7;
}

.selling-item p {
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  color: #7A7E88;
  letter-spacing: 0.97px;
  line-height: 35px;
}


/* ---- footer ---- */

footer {
  display: flex;
  justify-content: space-between;
  padding: 25px 75px;
}

footer img {
  width: 2rem;
  margin-right: 20px;
}

.copyright {
  font-size: 24px;
  align-self: center;
}

/* ---- components ---- */

#nav-button {
  font-family: Raleway, Helvetica, sans-serif;
  font-size: 16px;
  color: #0B2DB1;
  text-align: center;
  background: #FFFFFF;
  border: 2px solid #0B2DB1;
  border-radius: 5px;
  padding: 1rem 0.5rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-right: 0.5rem;
}

.nav-colored {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, .45) 0 4px 14px -5px;
}

.nav-transparent {
  background-color: white;
}

button {
  font-family: Raleway, Helvetica, sans-serif;
  font-size: 16px;
  color: #FFFFFF;
  text-align: center;
  background-image: linear-gradient(90deg, #DA12B7 9%, #FF1968 79%);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
  border-radius: 5px;
  padding: 17px 48px;
  font-weight: 800;
  border: none;
  cursor: pointer;
  letter-spacing: 2px;
}

.container-self {
  width: 1240px;
  margin: 0 auto;
}



/* ---- css shame ---- */